
<!-- <div class = "container"> -->
  <h2>Grupos</h2>
  <!-- <a class="btn btn-primary" routerLink="/crear/new">Agregar nuevo grupo</a> -->
  <ul class="list-group">
    <ng-container *ngFor="let grupo of grupoList">
      <div class="row align-items-start">
        <div class="col-8">
          <li class="list-group-item">
            <a routerLink="/actividades/{{grupo.id}}"> <h3>{{grupo.nombre}}</h3> </a>
            <table width="30%" style="font-size:12.8px;">         
              <tr>
                <td>Número de Estudiantes:</td>
                <td>{{grupo.cantidadestudiantes}}</td>
              </tr>
            
              <tr>
                <td>Periodo:</td>
                <td>{{grupo.anoSemestre}}-{{grupo.semestre?'1':'2'}}</td>
              </tr>
              
              <tr>
                <td>Estado:</td>
                <td>{{grupo.estadoGrupo?'Activo':'Cerrado'}}</td>
              </tr>

              <tr>
                <td>Fecha Inicio:</td>  
                <td>{{grupo.fechaInicio}}</td>  
              </tr>

              <tr>
                <td>Fecha Fin:</td>  
                <td>{{grupo.fechaFin}}</td>  
              </tr>

              <tr>
                <td>Hora Inicio Clases:</td>  
                <td>{{grupo.horainiclase}}</td>  
              </tr>

              <tr>
                <td>Hora Fin Clases:</td>  
                <td>{{grupo.horafinclase}}</td>  
              </tr>
            
            </table>
          </li>
        </div>
      </div>
      <br/>
    </ng-container> 
  </ul>
<!-- </div> -->


<!--
<ul class="list-group">
  <ng-container *ngFor="let grupo of grupoList">
    <div class="row align-items-start">
      <div class="col-8">
        <li class="list-group-item">
          <a routerLink="/actividades/{{grupo.id}}"> <h3>{{grupo.nombre}}</h3> </a>
          <small>Número de estudiantes: {{grupo.cantidadestudiantes}}</small>
          <br/>
          <small>Periodo: {{grupo.anoSemestre}}-{{grupo.semestre?'Primer Semestre':'Segundo Semestre'}}</small>
          <br/>
          <small>Estado: {{grupo.estadoGrupo?'Activo':'Cerrado'}}</small>
          <br/>
          <small>Fecha Inicio: {{grupo.fechaInicio}}</small>
          <br/>
          <small>Fecha Fin: {{grupo.fechaFin}}</small>
          <br/>
          <small>Hora Inicio clase: {{grupo.horainiclase}}</small>
          <br/>
          <small>Hora Fin clase: {{grupo.horafinclase}}</small>
        -->
          <!-- <a class="fas fa-trash close" (click)="eliminarGrupo(grupo)">Eliminar</a> -->
          <!--
          <br/>
        </li>
      </div>
    </div>
  </ng-container> 
</ul>
-->