<h3><a routerLink= "/grupos">{{grupo.nombre}}</a></h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Horas</th>
      <th scope="col">Actividad</th>
      <th scope="col"><i class="material-icons" >close</i></th>
    </tr>
  </thead>
  <tbody>
      <ng-container *ngFor="let actr of actividadesRegistradas">
          <tr>
            <th scope="row"><a routerLink="/detalleActividadRegistrada/{{actr.id}}/{{idGrupo}}"> <i class="material-icons">create</i> </a></th>
            <td>{{actr.fecha}}</td>
            <td>{{actr.horas}}</td>
            <td>{{actr.tipoActividad}}</td>
            <td>
              <a (click)="eliminarActividadRegistrada(actr.id)"><i class="material-icons" >close</i></a>
            </td>
          </tr>
      </ng-container>
      <tr>
        <th scope="row"><a routerLink="/detalleActividadRegistrada/new/{{idGrupo}}"><i class="material-icons">
            fiber_new</i></a></th>
        <td></td>    
        <td><h4>{{suma}}</h4></td>
        <td colspan="2"></td>
      </tr>
  </tbody>
</table>